/*这是shop(商家)查看交易记录页面公共css*/
body {
    font-size: 18px;
}

.modal-dialog {
    margin-top: 10%;
}

.error-info {
    color: red;
    padding-bottom: 10px;
}

#newMessage {
    background-color: rgba(0,0,0,0.75);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
}

h4 {
    font-size: 28px;
}

.modal-body{
    position: relative;
    padding: 40px;
    font-size: 20px;
}

.modal-footer .btn{
    font-size: 18px;
    padding: 10px 30px;
}

/*交易记录页面 shop.html css样式*/

#shop .title {
    background-color: rgb(53,160,237);
    width: 100%;
    height: 45px;
    color: #ffffff;
    vertical-align: middle;
    line-height: 45px;
    font-size: 20px;
}

#shop .logo {
    float: left;
    margin-left: 30px;
}

#shop .login-out {
    float: right;
    margin-right: 30px;
    cursor: pointer;
}

#shop .close {
    font-size: 30px;
}

#shop .info-back {
    background-color: #eeeeee;
    height: 100px;
}

#shop .info-back span {
    display: table;
}

#shop .transaction {
    margin-top: 25px;
    background-color: #eeeeee;
}

#shop .transaction-title {
    background-color: rgb(53,160,237);
    padding: 5px;
    text-align: center;
    color: #ffffff;
    font-weight: bold;
}

#shop .transaction-bcolor {
    background-color: rgb(220,220,230);
}

#shop .transaction-value {
    text-align: center;
    padding: 5px;
    cursor: pointer;
    border-bottom: 1px solid #dddddd;
}

#shop .col-md-3,#shop .col-xs-3 {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0.5%;
    margin-right: 0.5%;
    width: 24%;
}

#shop .font14,#shop .font16,#shop .font28 {
    padding-left: 10px;
    font-weight: bold;
}

#shop .font28 {
    font-size: 28px;
}

#shop .font14 {
    font-size: 14px;
}

#shop .font16 {
    font-size: 16px;
    padding-top: 10px;
}

#shop .bottom {
    background-color: rgb(220,220,230);
    padding: 5px 0px;
    bottom: 0px;
    position: absolute;
    width: 100%;
    text-align: center;
}

#shop .link:hover {
    color: #555555;
}

.page {
    float: right;
    padding-top: 30px;
    padding-bottom: 10px
}
.page span {
    padding:0.5rem;
}

.page .link {
    cursor: pointer;
    text-decoration: underline;
}

#shop .page .link:hover{
    color: blue;
}


/*商家登录样式 login.html css*/
#login .title {
    padding: 20px 10%;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.5);
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 8%;
}

#login {
    overflow: hidden;
}


#login botton {
    background-color: rgb(53,160,237);
    color: #ffffff;
    width: 100%;
    font-size: 18px;
}

#login .form-control {
    display: inline;
    width: 100%;
    padding: 10px 14px;
    height: auto;
    font-size: 20px;
}

